{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<!-- Start your project here-->
{% if not query or  page.object_list|length  == 0  %}
    <div style="height:38vh">
        <div class="flex-center flex-column">
            <h2 class="animated fadeIn mb-1 display-4" style="color:black">GOKOKAN </h2>
            <h3 class="animated fadeIn mb-1 " style="color:grey">Japanese Dictionary</h3>
        </div>
    </div>
{% endif %}

<!--Search Box -->
{% if not query or  page.object_list|length  == 0  %}
    <div style="height:38vh">

        <div class="flex-center flex-column">
            <form class="col-md-4" method="get" action=".">
                {% csrf_token %}
                <div class="md-form form-group form-group-lg">
                    <i class="fa fa-search prefix "></i>
                    {% if query %}
                    <input id="id_q" name="q" type="search" class="input-lg" value={{ query }}>
                    {% else %}
                    <input id="id_q" name="q" type="search" class="input-lg">
                    {% endif %}
                    <label for="id_q" ><h5>Search dictionary here...</h5></label> 
                </div>
                <div class="md-form form-group">
                    <button type="submit" class="btn btn-unique btn-lg btn-block">Search</button>
                </div>
            </form>
        </div>

    </div>
{% endif %}

{% if not query or  page.object_list|length  == 0 %}
{% else %}
    <div style="height:38vh">
        <div class="flex-center flex-row "> 
        <div class="col-md-5">
              {% if  page.paginator.num_pages  == 1 %}
                  <h1 style="color:#ff69b4">We found a total of {{ page.object_list|length }} dictionary entries </h1>
              {% else %}
                  <h2 style="color:#ff69b4">Showing {{ page.object_list|length }} of {{ page.paginator.count }} Results on Page {{ page.number }} of {{ page.paginator.num_pages }} </h2>
             {% endif %}
             <hr>
        </div>
        </div>
     </div>
             {% endif %}

    <div >
    <div class="flex-center flex-row "> 

 <div class="col-md-5">
        {% if query %}
            {% for result in page.object_list %}

<!--Card-->
<div class="card">

    <!--Card image-->
    <!-- <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap"> -->
    <!--/.Card image-->

    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <!--Text-->
        {% for keb in result.object.keb_set.all %}
        {% if forloop.counter == 1 %}
            <h3 class="card-title">{{ keb.text }} </h3>
        {% endif %}
        {% endfor %}

        {% for reb in result.object.reb_set.all %}
        {% if forloop.counter == 1 %}
            <h4 class="card-text"> {{ reb.furigana}} </h4>
            <h4 style="color:grey" class="card-text">  {{reb.romanji }}   </h4>
        {% endif %}
        {% endfor %}
        <hr>

        {% for sense in result.object.sense_set.all %}
        {% if forloop.counter < 3  %}
        {% for gloss in sense.gloss_set.all %}
        {% if forloop.counter < 3  %}
            <h4 class="card-text" > {{ gloss.text}} </h4>
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
        <a href="/dictionary/{{ result.object.pk }}/" class="btn btn-primary">details...</a>
    </div> 
    <!--/.Card content-->

</div>
<!--/.Card-->
<br>

            {% empty %}
            <h3>Sorry, no results found </h3>
            <h3>申し訳ありませんが、結果が見つかりませんでした </h3>
            {% endfor %}


            {% if page.has_previous or page.has_next %}
            <hr>
                <nav>
                  <ul class="pagination">
                   {% if page.has_previous %}
                    <li class="page-item ">
                      <a class="page-link" href="?q={{ query }}&amp;page={{ page.previous_page_number }}" aria-label="Previous">
                   {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="#" aria-label="Previous">
                   {% endif %}
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                   {% if page.number == 1 %}
                    <li class="page-item active">
                   {% else %}
                    <li class="page-item">
                   {% endif %}
                      <a class="page-link" href="?q={{ query }}&amp;page=1">1 <span class="sr-only">(current)</span></a>
                    </li> 
                   {% if page.number == 2 %}
                    <li class="page-item active">
                   {% else %}
                    <li class="page-item">
                   {% endif %}
                   <a class="page-link" href="?q={{ query }}&amp;page=2">2</a>
                   </li>
                   {% if page.number == 3 %}
                    <li class="page-item active">
                   {% else %}
                    <li class="page-item">
                   {% endif %}
                   <a class="page-link" href="?q={{ query }}&amp;page=3">3</a>
                   </li>
                   {% if page.number == 4 %}
                    <li class="page-item active">
                   {% else %}
                   <li class="page-item">
                   {% endif %}
                    <a class="page-link" href="?q={{ query }}&amp;page=4">4</a>
                    </li>
                   {% if page.number == 5 %}
                    <li class="page-item active">
                   {% else %}
                    <li class="page-item">
                   {% endif %}
                   <a class="page-link" href="?q={{ query }}&amp;page=5">5</a>
                   </li>
                   {% if page.has_next %}
                    <li class="page-item ">
                   {% else %}
                    <li class="page-item disabled">
                   {% endif %}
                      <a class="page-link" href="?q={{ query }}&amp;page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            {% endif %}


        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

    </div>
</div>
</div>

<div style="height:19vh">
<hr>
</div>

{% endblock %}
