{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="flex-center flex-row "> 
    <div class="md-form col-md-4">

    <h1  class="animated fadeIn mb-2">{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
<br><br>
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            {{ form.login.errors }}
            {{ form.login }}
            <!-- <label for="{{ form.login.id_for_label }}">Username</label> -->
        </div>

        <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            {{ form.password.errors }}
            {{ form.password }}
            <!-- <label for="{{ form.password.id_for_label }}">Username</label> -->
        </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-unique primaryAction black" type="submit">{% trans "Sign In" %}</button>
        </form>
          <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

<br><br><hr><br><br>
{% if socialaccount_providers %}

<h2>Or, sign in with Facebook</h2>
 <a class="btn btn-blue lg" href="/account/facebook/login/?process=login"><i class="fa fa-facebook-official left"></i>sign in  </a>


{% endif %}

</div>
</div>

{% endblock %}
