{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="flex-center flex-row "> 
    <div class="md-form col-md-4">

    <h1 class="animated fadeIn mb-2" >{% trans "Sign Up" %}</h1>
    <h4 class="animated fadeIn mb-2" >{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</h4>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit" class="btn btn-unique btn-lg btn-block">{% trans "Sign Up" %} &raquo;</button>
    </form>

</div>
</div>

{% endblock %}
